<div class="sidebar-content js-simplebar">
	<a class="sidebar-link" asp-area="Shipper" asp-controller="Home" asp-action="Index">
		<span class="align-middle" style="color:white">Trang Shipper</span>
	</a>
	<ul class="sidebar-nav">
		<li class="sidebar-header" style="color:white">
			Menu
		</li>
		<li class="sidebar-item">
			<a class="sidebar-link" asp-area="Shipper" asp-controller="Home" asp-action="Index">
				<i class="align-middle" data-feather="truck"></i>
				<span class="align-middle" style="color:white">Các đơn hàng chưa nhận</span>
			</a>
		</li>
		<li class="sidebar-item">
			<a class="sidebar-link" asp-area="Shipper" asp-controller="Home" asp-action="ReceiveOrderList">
				<i class="align-middle" data-feather="truck"></i>
				<span class="align-middle" style="color:white">Các đơn hàng nhận giao</span>
			</a>
		</li>
		<li class="sidebar-item">
			<a class="sidebar-link" asp-area="Shipper" asp-controller="Home" asp-action="Profile">
				<i class="align-middle" data-feather="users"></i>
				<span class="align-middle" style="color:white">Tài khoản</span>
			</a>
		</li>


	</ul>
</div>

