@{
    ViewBag.Title = "VnpayReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">

                <div class="col-md-12 text-center">
                    <br />
                    <h1 style="color:#008000" class="">Thanh toán thành công</h1>
                    <img style="max-height:200px;max-width:200px" src="https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg" width="626" height="626" alt="Success payment icon in flat style Approved money vector illustration on isolated background Successful pay sign business concept" class="_9zid0k3 _1286nb1h _1286nb1k _1286nb18f _1286nb13df _1286nb13jl _1286nb16 _1286nb19f" sizes="(max-width: 480px) 100vw, (min-aspect-ratio: 626/626) calc((100vh - 184px) * 1.000), (max-width: 1096px) calc(100vw - 40px), calc(100vw - 540px)" srcset="https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=360 360w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=740 740w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=826 826w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=900 900w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=996 996w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=1060 1060w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=1380 1380w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=1480 1480w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=1800 1800w, https://img.freepik.com/premium-vector/success-payment-icon-flat-style-approved-money-vector-illustration-isolated-background-successful-pay-sign-business-concept_157943-1354.jpg?w=2000 2000w" style="max-width:calc((100vh - 184px) * 1.000)" fetchpriority="high">
                    <br />
                    <br />
                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <h5>Bạn đã thanh toán thành công với @ViewBag.ThanhToanThanhCong!</h5>
                    }
                    <br />
                    <p>@ViewBag.InnerText</p>
                </div>

            </div>
            <hr />
            @*<div class="row">
            <div id="show_success"></div>
            <div class="col-md-9">

            </div>

            </div>*@
        </div>
    </div>
</div>
